<link
			rel="icon"
			href="https://nbesoro.com/assets/logos/logo_2.svg"
			type="image/x-icon"
		/>
		<title>Invoice Generation Made Easy | Invoice App</title>
		<meta
			name="description"
			content="Generate, manage, and track your invoices quickly with MyApp. Simplify your billing process today."
		/>

		<!-- SEO tags -->
		<meta
			name="keywords"
			content="invoice generation, invoice management, billing software, payment tracking, Invoice App"
		/>
		<meta name="author" content="Nbe Soro" />
		<meta name="robots" content="index, follow" />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta
			property="og:title"
			content="Invoice Generation Made Easy | Invoice App"
		/>
		<meta
			property="og:description"
			content="Generate, manage, and track your invoices with ease using Invoice App. Start streamlining your billing today."
		/>

		<meta property="og:image" content="https://nbesoro.com/assets/logos/logo_2.svg" />
		<meta property="og:url" content="https://techyao.nbesoro.com" />
		<meta property="og:type" content="website" />