<html>
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <meta name="description" content="Invoice demo sample">
    <link rel="stylesheet" href="{% static 'weasyprint/print.css' %}">
    <style>
      .footer > td{
        text-align: right;
      }
      .tptt{
        font-weight: 800;
      }
    </style>
  </head>

  <body>
    <h1>Invoice</h1>

    <aside>
      <address id="from">
        TechYao
        26 rue Emile Decorps
        69100 Villeurbanne
        Togo
      </address>

      <address id="to">
        {{ customer.presentation }}
        {{ customer.addresse }}
        {{ customer.postal_code }}, {{ customer.city }}
        {{ customer.phone }}
      </address>
    </aside>

    <dl id="informations">
      <dt>Invoice number</dt>
      <dd>{{ number }}</dd>
      <dt>Date</dt>
      <dd>{{ created_at }}</dd>
    </dl>

    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>QT</th>
          <th>P.U.HT</th>
          <th>TVA</th>
          <th>PRIX TTC</th>
        </tr>
      </thead>
      <tbody>
        
        {% for item in items %}
          <tr>
            <td>{{ item.product }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price_ht }}</td>
            <td>{{ item.vat }}</td>
            <td>{{ item.total_price_ttc }}</td>
          </tr>
        {% endfor %}
          

        </tr>
        <!-- footer -->
        <tr class="footer">
          <td></td>
          <td></td>
          <td></td>
          <td>Total P.U.HT</td>
          <td>{{ total_price_ht }}</td>
        </tr>
        <tr class="footer">
          <td></td>
          <td></td>
          <td></td>
          <td>Total TVA</td>
          <td>{{ total_price_vat }}</td>
        </tr>
        <tr class="footer">
          <td></td>
          <td></td>
          <td></td>
          <td class="tptt">Total PRIX TTC</td>
          <td class="tptt">{{ total_price_ttc }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>