<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		{% include 'bases/includes/meta.html' %}
		<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
		<script src="{% static 'vue/dist/vue.global.js' %}"></script>
		<script>
			tailwind.config = {
				theme: {
					extend: {
						animation: {
							border: "background ease infinite",
						},
						keyframes: {
							background: {
								"0%, 100%": { backgroundPosition: "0% 50%" },
								"50%": { backgroundPosition: "100% 50%" },
							},
						},
					},
				},
			};
		</script>
	</head>
	<body>
		<main>
			<!-- Nav -->
			{% include 'bases/includes/nav.html' %}
			<!-- / End Nav -->

			<!-- Aside -->
			{% include 'bases/includes/aside.html' %}
			<!-- / End Aside -->

			<div class="p-4 sm:ml-64">
				<div
					class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s mt-14"
				>
					<div
						class="rounded-[10px] bg-white p-4 sm:p-6"
						id="vue-app"
					>
						{% block content %} {% endblock content %}
					</div>
				</div>
			</div>
			<div id="page-name" data-page-name="{{ page }}"></div>
		</main>
		<script src="{% static 'flowbite/flowbite.min.js' %}"></script>
		<script src="{% static 'vue/dist/axios.min.js' %}"></script>
		

		<script>
			if ("X-CSRFTOKEN" in axios.defaults.headers.common) {
			} else {
				axios.defaults.headers.common["X-CSRFTOKEN"] =
					"{{ csrf_token }}";
			}
		</script>
		<script src="{% static 'vue/scripts.js' %}"></script>
	</body>
</html>
